@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;1,200;1,400&family=Source+Code+Pro:ital,wght@0,300;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
main{

    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #DEE1EC;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
header{
    margin: 0 5% 0 5%;
    height: 10vh;
    width: 90%;
    /* background-color: red; */
    padding-top: 1%;
}
img{
    width: 8%;
}
nav{
    position: relative;
    width: 40%;
    margin-left: 25%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    letter-spacing: -0.05em;
    margin-top: -40px;
}
nav>ul{
    width: 20%;
}
nav>ul>a{
    color: #2B2B2B;
}

nav>ul>a:hover{
    color: #0B8457;
    font-weight: 400;
}
.signInButton{
    position: relative;
    background: #0B8457;
    border-radius: 5px;
    width: 150px;
    float: right;
    line-height: 35px;
    letter-spacing: -0.05em;
    text-align: center;
    margin-top: -25px;
}
.signInButton>a:hover{
    color: #EAC100;
}
.signUpButton>a:hover{
    color: #EAC100;
}
.signInButton>a{
    color: #E5E5E5;
    font-family: 'Source Code Pro', monospace;;
    font-size: 16px;
}
main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EAC100;
    clip-path: polygon(46% 0, 100% 0, 100% 100%, 100% 100%);
}
section{
    margin: 2% 5% 0 5%;
}
section>p{
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 33px;
    font-style: italic;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
    color: #000000;
    margin-top: 20px;
}
section>h1{
    font-family: 'Source Code Pro', monospace;
    margin-top: 50px;
    font-weight: 900;
    font-style: italic;
    position: relative;
    font-size: 200px;
    line-height: 200px;
    width: 50%;
    display: flex;
    align-items: center;
    color: #0B8457;
    margin-left: -5px;
}
svg{
    position: relative;
    margin-top: -250px;
    float: right;
}
aside{
    margin: 5% 5% 5% 5%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside>p{
    width: 49%;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    font-style: italic;
}
aside>p:nth-child(1){
    text-align: left;
}
aside>p:nth-child(2){
    text-align: right;
}
.signUpButton{
    background: #0B8457;
    border-radius: 5px;
    width: 200px;
    margin-left: 18%;
    text-align: center;
    margin-top: -50px;
}
.signUpButton>a{
    font-family: 'Source Code Pro', monospace;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #DEE1EC;
}
.weBelieve{
    position: relative;
    float: right;
    font-size: 20px;
    margin-right: 5%;
    margin-top: -100px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
}
.weBelieve>span{
    display: block;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    font-size: 62px;
    display: flex;
    align-items: center;
    color: #0B8457;
    font-family: 'Nunito Sans', sans-serif;
}
@media (min-width: 481px) and (max-width: 967px) {
    /* *{
        border: 0.5px solid red;
    } */
    header{
        padding-top: 1%;
    }
    img{
        width: 10%;
    }
    nav{
        width: 50%;
        margin-left: 20%;
    }
    nav>ul{
        margin-top: 4%;
        width: 30%;
    }
    .signInButton{
        border-radius: 5px;
        width: 120px;
        float: right;
        line-height: 32px;
        margin-top: -30px;
    }
    section{
        margin: 2% 5% 0 5%;
    }
    section>p{
        position: relative;
        font-size: 26px;
    }
    section>h1{
        margin-top: 45px;
        font-style: italic;
        font-size: 180px;
        line-height: 180px;
        width: 100%;
        position: relative;
    }
    svg{
        display: block;
        margin-top: 0px;
        float: right;
        width: 65%;
    }
    aside{
        margin: 5% 5% 5% 5%;
        width: 33%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    aside>p{
        margin-top: 5%;
        width: 49%;
        font-size: 14px;
        line-height: 18px;
    }
    .signUpButton{
        float: left;
        margin-left: 5%;
        width: 180px;
        text-align: center;
        margin-top: 0px;
    }
    .signUpButton>a{
        font-family: 'Source Code Pro', monospace;
        line-height: 36px;
        letter-spacing: -0.05em;
        color: #DEE1EC;
    }
    .weBelieve{
        float: right;
        width: 90%;
        font-size: 20px;
        margin-right: 5%;
        margin-top: -30px;
    }
    .weBelieve>span{
        display: inline;
        font-weight: 200;
        font-size: 52px;
        margin-left: 2.5%;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    *{
        border: 0.5px solid red;
    }
        nav{
            width: 100%;
        }
}